! WINDOW CONFIGURATION

Xft.dpi: 144
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgba

! URXVT CONFIGURATION

URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true
URxvt.scrollBar: false

! Standard fonts
URxvt.font: xft:Source Code Pro:size=12

! Save up to the last 10000 lines (you can scroll up to view them)
URxvt.saveLines: 10000

! Perl extension features
URxvt.perl-ext-common: default,clipboard,keyboard-select,resize-font
URxvt.keyboard-select.clipboard: true

! Keyboard bindings for Perl extensions
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-Up: resize-font:bigger
URxvt.keysym.M-Down: resize-font:smaller

! COLORSCHEME (iceberg)

! Special 
*.foreground:   #d2d4de
*.background:   #161821
*.cursorColor:  #d2d4de

! Black
*.color0:       #161821
*.color8:       #6b7089

! Red 
*.color1:       #e27878
*.color9:       #e98989

! Green 
*.color2:       #b4be82
*.color10:      #c0ca8e

! Yellow 
*.color3:       #e2a478
*.color11:      #e9b189

! Blue 
*.color4:       #84a0c6
*.color12:      #91acd1

! Magenta 
*.color5:       #a093c7
*.color13:      #ada0d3

! Cyan 
*.color6:       #89b8c2
*.color14:      #95c4ce

! White 
*.color7:       #c6c8d1
*.color15:      #d2d4de
