! special
*.foreground:   #b3b8c4
*.background:   #111314
*.cursorColor:  #b3b8c4

! black
*.color0:       #3a3e42
*.color8:       #5d6369

! red
*.color1:       #bf6262
*.color9:       #bf6262

! green
*.color2:       #a2a565
*.color10:      #a5a76e

! yellow
*.color3:       #e9a96f
*.color11:      #e9a96f

! blue
*.color4:       #789bad
*.color12:      #789bad

! magenta
*.color5:       #9f7aa5
*.color13:      #9f7aa5

! cyan
*.color6:       #638e8a
*.color14:      #638e8a

! white
*.color7:       #737673
*.color15:      #e3e8e3
